/* Beginning Header */

header {
  background-color: white;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  background: #ff5480;
  border-radius: 10px;
  width: 5%;
  height: 35px;
  color: white;
}

a i {
  width: 99px;
  height: 29px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.web-icon {
  background-image: url(../assets/icons/web-icon.png);
}

.search {
  background-image: url(../assets/icons/Icon.png);
  margin-left: 10%;
}

/* End Header */

/* Beginning Posts */

.col img {
  border-radius: 10px;
}

.col div {
  justify-content: left;
}

.flex p {
  margin-left: 1%;
  margin-right: 1%;
}

.gray {
  color: #aaa;
}

.container {
  width: 90%;
}

.title {
  font-size: 29px;
  text-align: left;
}

.subtitle {
  color: #999;
  font-size: 16px;
  text-align: left;
}

/* End Posts */

/* Media Query */

@media screen and (max-width: 1399px) {
  .col div{
    justify-content: center;
  }
}